[submodule "liveliness-avs-example/contracts/lib/forge-std"]
	path = liveliness-avs-example/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "liveliness-avs-example/contracts/lib/openzeppelin-contracts"]
	path = liveliness-avs-example/contracts/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "liveliness-avs-example/contracts/lib/contracts"]
	path = liveliness-avs-example/contracts/lib/contracts
	url = https://github.com/Othentic-Labs/contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
